#helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #2d3250;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: #2d3250;
}

#helpMessageContainer {
    -fx-background-color: derive(#676f9d, 60%);
}
